.row{
    color: black;
    display: flex;
    height: auto;
    width: auto;
    margin-bottom: 20px;
    flex-wrap: wrap;
    -webkit-tap-highlight-color: transparent;
  
}

*,::after,::before
{
    box-sizing: border-box;
}
.col-row1
{
    background: antiquewhite;
    height: 100px;
    width: 33%;
    border: 1px solid rgb(192,192,192);
    padding:0px 15px 0px 15px;
    position: relative;
    text-align: left;
    float: left;
    display: block;

    
}
.col-row2
{
    background: antiquewhite;
    height: 100px;
    width: 67%;
    border: 1px solid rgb(192,192,192);
    padding:0px 15px 0px 15px;
    position: relative;
    text-align: left;
    clear: both;
}
.colum1
{
    background: antiquewhite;
    height: 100px;
    width: 30%;
    border: 1px solid rgb(192,192,192);
    padding:0px 15px 0px 15px;
    position: relative;
    text-align: left;
    float: left;
}
.colum2
{
    background: antiquewhite;
    height: 100px;
    width:30%;
    border: 1px solid rgb(192,192,192);
    padding:0px 15px 0px 15px;
    position: relative;
    text-align: left;
    float: left;
}
.colum3
{
    background: antiquewhite;
    height: 100px;
    width: 40%;
    border: 1px solid rgb(192,192,192);
    padding:0px 15px 0px 15px;
    position: relative;
    text-align: left;

}

