USE [master]
GO
/****** Object:  Database [Library]    Script Date: 01/10/2018 21:33:31 ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Object:  Table [dbo].[BookInfor]    Script Date: 01/10/2018 21:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookInfor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[bookID] [nvarchar](50) NOT NULL,
	[bookName] [nvarchar](200) NOT NULL,
	[companyID] [nvarchar](50) NOT NULL,
	[price] [nvarchar](50) NOT NULL,
	[inDay] [nchar](20) NOT NULL,
	[number] [nvarchar](50) NOT NULL,
	[review] [nvarchar](500) NOT NULL,
	[imgae] [nvarchar](50) NOT NULL,
	[totalnumber] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BookInfor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[classInfor]    Script Date: 01/10/2018 21:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[classInfor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[classID] [nchar](10) NOT NULL,
	[className] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_classInfor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[companyInfor]    Script Date: 01/10/2018 21:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[companyInfor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[companyID] [nvarchar](50) NOT NULL,
	[companyName] [nvarchar](200) NOT NULL,
	[address] [nvarchar](200) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phoneNumber] [nchar](10) NOT NULL,
 CONSTRAINT [PK_companyInfor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCard]    Script Date: 01/10/2018 21:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCard](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [nvarchar](50) NOT NULL,
	[userName] [nvarchar](100) NOT NULL,
	[ClassID] [nchar](10) NOT NULL,
	[Birthday] [nvarchar](50) NOT NULL,
	[address] [nvarchar](200) NOT NULL,
	[dateCreatCard] [nvarchar](50) NOT NULL,
	[dateEnd] [nvarchar](50) NOT NULL,
	[gender] [bit] NOT NULL,
	[image] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_UserCard] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userInfor]    Script Date: 01/10/2018 21:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userInfor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[user] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Birthday] [nvarchar](50) NOT NULL,
	[CMND] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_userInfor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
