.bghome {
    background-image: url("../Image/bg1.jpg");
}

* {
    margin: auto;
}

header {
    width: 75%;
    height: auto;
    margin: auto;
    align-content: center;
}

header img {
    width: 100%;
}

section {
    width: 75%;
    height: auto;
    margin: auto;
    align-content: center;
}

.home {
    width: 30%;
    height: 335px;
    border: 1px dotted blue;
    float: left;
    margin: 5px;
    padding: 4px;
}

.home img {
    height: 300px;
    width: 100%;
}

section .home p {
    text-align: center;
    border: 1px solid green;
    margin-top: 5px;
}

section .home a {
    color: green;
    text-decoration: none;
}

section .home a:hover {
    color: red;
}

.t1body
{
    height: 1000px;
    width: 900px;
}
.trang1 {
    background-image: url("../Image/hochiminh.jpg");
    
}
.wrapper {
    height: 500px;
    width: 600px;
  
    padding: 40px;
    
}
.wrapper h3 {
    color: red;
    text-align: center;
    margin-top: 40px;
}


.wrapper .pd
{
    height: auto;
    width: 500px;
    text-align: right;
    margin-right: 100px;
    color: blue;
}
.wrapper .p1 {
    height: auto;
    width: 500px;
}

b {
    font-size: 30px;
}

.wrapper .p2 {
    height: auto;
    width: 500px;
    text-align: center;
    margin-right: 220px;
}

.wrapper .p3 {
    height: auto;
    width: 500px;
    text-align: right;
    margin-right: 300px;
}

.t2bd
{
    height: 500px;
    width: 700px;
    margin: auto;
    
}
.t2{
    height: 400px;
    width: 600px;
    margin-top: 50px;
}

.t3bd
{
    
   
    background-image: url("../Image/vietnamquehuongtoi.jpg");
    background-repeat: no-repeat;

    
}
.t3{
    height: 400px;
    width: 600px;
    position: absolute ;
    left: 100px;
    top: 250px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 5px;
    color: red;
}
.t3 .b1
{
    font-weight: bold;

}
.t3 p{
    font:  bold 18px/30px Georgia, serif;
}