fieldset{
    color: red;
    background-color: antiquewhite;
    border-color: aqua;
    
}
aside
{
    height: 400px;
    width: 80px;
    background: blue;
    float: left;
}
table
{
    border: 1px dotted red;
    margin: 5px;
    border-collapse: 0 px;
    border-spacing: 0px;


}
table tr{
    border: 1px inherit tan;
}

table tr td
{
    
    height: 300px;
    width: 400px;
    padding-top: 4px;
    margin-top: 5px;
    
}
table tbody
{
    
  
}
