body,html
{
    height: auto;
    background:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    height: auto;
    width: 500px;
    display: block;
    position: relative;
    margin: auto;
    padding: 20px;
}
.content
{
    margin: auto ;
    width: 500px;
    height: auto;
    
}
.radio1
{
    height: 50px ;
    width: 450px;
    margin: auto;
    

}
.radio1 ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.radio1 ul li{
    float: left;
    border: 1px solid black;
    margin: 10px 0px 0px 0px;
    height: auto;
    width: 220px;
}

.radio1 p
{
    float: left;
}
.form1
{
    clear: both;
    height: auto;
    width: 450px;
    border: 1px solid black;
    margin: 10px auto 10px auto;
}

 .form1 input
{
    height: 30px;
    width: 90%;
    margin:20px 20px 10px 20px;
    
}

 .end
{
    border: 1px solid black;
    margin: 10px  auto 10px auto ;
    width: 450px;
    height: auto;
    text-align: center;

}
